extends /shared/main.pug

block title
  | CSCI711 – Checkpoint 2

block content
  .contentbox
    h2 Checkpoint 2
    div
      img(src='/img/courses/cs711/cp2_primary.png', width='375')
    div
      img(src='/img/courses/cs711/cp2_bonus.png', width='300')
