.contentbox {
  margin-top: rem(20px);
  margin-bottom: rem(20px);
  padding: rem(10px);
  overflow: hidden;
  line-height: 1.5em;
  background-color: $secondary-lighter;
  border: 1px solid $secondary-light;
  border-radius: rem(5px);
  box-shadow: 0 rem(2px) rem(5px) rgba(0, 0, 0, 0.2);

  ul {
    list-style-type: none;
  }

  li {
    position: relative;
  }

  li::before {
    font-family: 'FontAwesome';
    content: '\f054';
    color: $secondary;
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
  }

  & > h2, & > h3 {
    margin: .5em 0 .8em;

    &::before {
      margin: 0;
      padding: 0 rem(10px) 0 0;
      font-family: 'FontAwesome';
      color: $secondary;
      content: '\f054';
    }
  }

  &::after {
    clear: both;
  }
}