.tiles {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "a a b c d"
        "a a e f f"
        "g h i f f";
    justify-items: stretch;
    align-items: stretch;
    margin: rem(-5px);

    @include mobile-only {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "a a b"
            "a a c"
            "g e d"
            "h f f"
            "i f f";
    }
}

.tile {
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 rem(2px) rem(5px) rgba(0, 0, 0, 0.2);
    margin: rem(5px);
    min-width: 20px;
    min-height: 20px;
    line-height: 0;
    overflow: hidden;

    &:hover a {
        padding: 0;
    }

    a {
        box-sizing: border-box;
        display: block;
        height: 100%;
        position: relative;
        padding: 5px;
        transition: padding 50ms;

        .info {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            // color: white;
            color: $dark-gray;
            line-height: 1.2;
            padding: rem(10px) rem(13px);
            background: linear-gradient(to bottom, rgba(white, 1) 0%, rgba(white, 0.4) 100%);
            font-weight: normal;
            // text-shadow: 0 rem(2px) rem(4px) rgba(0, 0, 0, 0.4);
            transition: background-color .1s;

            &--title {
                font-weight: bold;
                font-size: rem(22px);
            }

            &--desc {
                margin-top: rem(10px);
                font-weight: normal;
            }
        }
    }

    &--a-lg { grid-area: a; }
    &--b { grid-area: b; }
    &--c { grid-area: c; }
    &--d { grid-area: d; }
    &--e { grid-area: e; }
    &--f-lg { grid-area: f; }
    &--g { grid-area: g; }
    &--h { grid-area: h; }
    &--i { grid-area: i; }

    img {
        width: 100%;
        height: auto;
    }

    @include tablet-and-below {
        a .info--title {
            font-size: rem(18px);
        }
    }
}