@include fa-external-link-alt;

.tiles {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "a a b c d"
        "a a e f f"
        "g h i f f";
    margin: rem(-10px) rem(-5px);

    @include mobile-only {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "a a b"
            "a a c"
            "g e d"
            "h f f"
            "i f f";
    }
}

.tile {
    display: block;
    margin: rem(10px) rem(5px);
    font-weight: normal;
    line-height: 0;
    background-color: $off-white;
    box-shadow: 0 rem(2px) rem(5px) rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    transition: margin 0.1s;

    .info {
        padding: rem(15px);
        color: $dark-gray;
        line-height: 1.2;

        &__title {
            font-size: rem(24px);
            line-height: 1;
        }

        &__desc {
            margin-top: rem(10px);
        }
    }

    &--a-lg { grid-area: a; }
    &--b    { grid-area: b; }
    &--c    { grid-area: c; }
    &--d    { grid-area: d; }
    &--e    { grid-area: e; }
    &--f-lg { grid-area: f; }
    &--g    { grid-area: g; }
    &--h    { grid-area: h; }
    &--i    { grid-area: i; }

    &__image {
        position: relative;
        padding-top: 100%;
        background-color: white;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    @include tablet-and-below {
        .info {
            padding: rem(10px);

            &__title {
                font-size: rem(18px);
            }
        }
    }
}

a.tile {
    .info {
        position: relative;

        &::after {
            @extend .fa;
            @extend .fa-external-link-alt:before;

            position: absolute;
            top: rem(5px);
            right: rem(5px);
            font-size: rem(10px);
        }
    }

    &:hover {
        margin: 0;
    }
}