@include fa-github-alt;
@include fa-linkedin-in;
@include fa-envelope;

.footer {
  padding: rem(10px);
  text-align: center;
  color: $gray;

  &__links a {
    font-size: rem(22px);
    text-decoration: none;
    color: $primary-darker;
    margin-right: rem(16px);

    &:hover {
      color: $primary;
    }

    &:active {
      color:  $primary-accent;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}