# Dependency directories
node_modules/

# Parcel cache
.parcel-cache/

# Build folder
dist/

# VS Code config
.vscode/

# Alternate, untracked versions of files
*.alt

# Netlify CLI settings
.netlify/