extends /shared/main.pug

include /components/project-header.pug

block title
  | My Javascript Programs

block content
  h1.content-header Javascript
  +project-header('spirograph', '/img/projects/js-spirograph_sm.png', 'Spirograph')
    div A simulation of the classic "Spirograph" toy.
  +project-header('graphs', '/img/projects/js-graphs_sm.png', 'Graphs')
    div A unique creation of my own.
  +project-header('particles', '/img/projects/js-particles_sm.png', 'Particles')
    div A 2D particle interaction simulation.
  +project-header('painter', '/img/projects/js-painter_sm.png', 'Painter')
    div An algorithmic "painting" program. Great for generating wallpapers.
  +project-header('bubbles', '/img/projects/js-bubbles_sm.png', 'Bubbles')
    div A simple program that generates images filled with "bubbles". Also great for wallpapers.

