{% extends "layout.njk" %}
{% block title %}Cloth{% endblock %}

{% block resources %}
<link href="cloth.css" rel="stylesheet" />
<script type="text/javascript" src="cloth.js"></script>
<script type="text/javascript" src="../util.js"></script>
{% endblock %}

{% block content %}
	<canvas id="drawCanvas" width="500px" height="500px"></canvas>
	<div id="controls">
		<p><button id="pause">Pause</button></p>
		<p><button id="reset">Reset</button></p>
	</div>
	<p id="info"></p>
{% endblock %}