@include fa-external-link-alt;

.tiles {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.tile {
    display: block;
    font-weight: normal;
    line-height: 0;
    background-color: $off-white;
    box-shadow: 0 rem(2px) rem(5px) rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    transition: margin 0.1s;
    width: calc((100% - 40px) / 5);

    &--lg {
        width: calc((100% - 20px) / 3);
    }

    .info {
        padding: rem(15px);
        color: $dark-gray;
        line-height: 1.2;

        &__title {
            font-size: rem(24px);
            line-height: 1;
        }

        &__desc {
            margin-top: rem(10px);
        }
    }

    &__image {
        position: relative;
        padding-top: 100%;
        background-color: white;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    @include mobile-only {
        width: calc((100% - 10px) / 2);

        &--lg {
            width: 100%;
        }
    }

    @include tablet-and-below {
        .info {
            padding: rem(10px);

            &__title {
                font-size: rem(18px);
            }
        }
    }
}

a.tile {
    .info {
        position: relative;

        &::after {
            @extend .fa;
            @extend .fa-external-link-alt:before;

            position: absolute;
            top: rem(5px);
            right: rem(5px);
            font-size: rem(10px);
        }
    }

    &:hover {
        margin: 0;
    }
}