{% extends "layout.njk" %}
{% block title %}Cells{% endblock %}

{% block resources %}
<link href="cells.css" rel="stylesheet" />
<script type="text/javascript" src="cells.js"></script>
<script type="text/javascript" src="../util.js"></script>
{% endblock %}

{% block content %}
	<div class="contentbox">
		<h2>Cells</h2>
		<canvas id="draw-canvas" width="500" height="500"></canvas>

		<div class="column">
			<div id="rules">
			</div>
		</div>
	</div>
	<div id="info">
		<div class="contentbox">
			Click inside the 'neighbors' grid to toggle a neighbor<br>
			Drag inside the 'neighbors' grid to move around
		</div>
	</div>
{% endblock %}