{% extends "layout.njk" %}
{% block title %}My Javascript Programs{% endblock %}

{% block content %}
    <h1 class="content-header">Javascript</h1>
    <div class="contentbox">
        <a class="project-header" href="spirograph/spiro.html">
            <img src="/img/projects/js-spirograph_sm.png" alt="An image from the spirograph program"/>
            <div>Spirograph</div>
        </a>
        <div>A simulation of the classic "Spirograph" toy.</div>
    </div>
    <div class="contentbox">
        <a class="project-header" href="graphs/graphs.html">
            <img src="/img/projects/js-graphs_sm.png" alt="An image from the graphs program"/>
            <div>Graphs</div>
        </a>
        <div>A unique creation of my own.</div>
    </div>
    <div class="contentbox">
        <a class="project-header" href="particles/particles.html">
            <img src="/img/projects/js-particles_sm.png" alt="An image from the particles program"/>
            <div>Particles</div>
        </a>
        <div>A 2D particle interaction simulation.</div>
    </div>
    <div class="contentbox">
        <a class="project-header" href="painter/painter.html">
            <img src="/img/projects/js-painter_sm.png" alt="An image from the painter program"/>
            <div>Painter</div>
        </a>
        <div>An algorithmic "painting" program. Great for generating wallpapers.</div>
    </div>
    <div class="contentbox">
        <a class="project-header" href="bubbles/bubbles.html">
            <img src="/img/projects/js-bubbles_sm.png" alt="An image from the bubbles program"/>
            <div>Bubbles</div>
        </a>
        <div>A simple program that generates images filled with "bubbles". Also great for wallpapers.</div>
    </div>
    <!-- <div class="contentbox">
        <a class="project-header" href="neuralnet/neuralnet.html">
            <img src="/img/projects/js-neuralnet_sm.png" alt="An image from the neural network program"/>
            <div>Neural Network</div>
        </a>
        <div>Watch a neural network learn to play a game!</div>
    </div> -->
{% endblock %}