@import '~/src/common/css/base/_variables';
@import '~/src/common/css/base/_mixins';
@import '~/src/common/css/vendor/fontawesome/fontawesome';
@import '~/src/common/css/vendor/fontawesome/solid';
@import '~/src/common/css/vendor/fontawesome/brands';

@include fa-envelope;
@include fa-github-alt;
@include fa-linkedin;
@include fa-briefcase;
@include fa-wrench;
@include fa-graduation-cap;
@include fa-project-diagram;
@include fa-print;

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@media print {
  @page {
    size: auto;
    margin: 0;
  }
}

html {
  background-color: #5c3013;
  background-image: url('./img/wood.jpg');
  background-size: 2048px 2048px;
  margin: 0;
  padding: 0;

  @include hi-res {
    background-image: url('./img/wood@2x.jpg');
  }

  @media print {
    background: none;
  }
}

body {
  color: $dark-gray;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: rem(13px);
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  padding: rem(10px);

  @media print {
    padding: 0;
  }
}

#print-btn {
  display: block;
  padding: rem(10px);
  font-size: rem(28px);
  cursor: pointer;
  width: rem(44px);
  margin: rem(10px) auto 0;
  color: white;
  text-shadow: 0 rem(4px) rem(8px) rgba(0, 0, 0, 0.5);

  @media print {
    display: none;
  }

  @include mobile-only {
    display: none;
  }
}

.resume {
  padding: rem(28px) rem(44px);
  max-width: rem(960px);
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f0f0f0;
  background-image: url('./img/paper.jpg');
  background-size: 273px 160px;
  box-shadow: 0 rem(4px) rem(8px) rgba(0, 0, 0, 0.5);
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;

  @include hi-res {
    background-image: url('./img/paper@2x.jpg');
  }

  @media print {
    background: white;
    max-width: auto;
    box-shadow: none;
    transform: none;
  }

  &.show {
    animation: 0.6s ease-out 0.3s slide-in both;
  }
}

*[data-obf] {
  display: inline-block;

  &::after {
    content: '[hover to show]';
    color: $gray;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
  }

  @include mobile-only {
    &::after {
      content: '[scroll to show]';
    }
  }

  @media print {
    &::after {
      content: '[not shown]';
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

sup {
  line-height: 1em;
}

.show-more-btn {
  text-align: right;
  font-size: rem(10px);
  line-height: rem(16px);
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 0.1em;
  cursor: pointer;
  margin-left: auto;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: 'Show More';
  }

  .show-all & {
    &::before {
      content: 'Show Less';
    }
  }

  @media print {
    display: none;
  }
}

.header {
  position: relative;
  margin-bottom: rem(15px);
  text-align: left;

  &__name {
    display: inline-block;
    font-size: rem(40px);
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: rem(10px);
    letter-spacing: 0.06em;
    color: $darker-gray;
    font-weight: 600;
    vertical-align: top;
  }

  &__statement {
    max-width: 70%;
    font-style: italic;
    white-space: pre-line;
  }

  .info {
    margin-left: 2em;
    margin-bottom: rem(10px);
  }

  @include mobile-only {
    text-align: center;

    &__name {
      display: block;
    }

    &__statement {
      max-width: 100%;
    }

    .info {
      float: none;
      display: inline-block;
      text-align: left;
      padding: rem(10px) 0;
    }
  }
}

.info {
  display: block;
  width: rem(150px);
  text-align: left;
  float: right;
  margin-left: rem(10px);

  &__item {
    position: relative;

    &__label {
      position: absolute;
      right: 100%;
      padding-right: rem(5px);
    }
  }

  @media print {
    position: absolute;
    top: 0;
    right: 0;
  }

  @include mobile-only {
    width: auto;
    text-align: right;
  }
}

.section {
  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    border-top: 1px solid $dark-gray;
    border-bottom: 1px solid black;
    margin: rem(10px) 0;
    padding: rem(5px) 0;
    font-size: rem(16px);
    line-height: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.14em;

    i {
      font-size: rem(14px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 100%;
      padding-right: rem(5px);

      @include mobile-only {
        font-size: rem(12px);
        width: rem(16px);
        text-align: center;
      }
    }
  }

  table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;

    tr {
      margin: 0;
      padding: 0;
      line-height: 1.3em;

      th {
        font-weight: 600;
        text-align: right;
        padding: rem(2px) rem(10px) rem(2px) 0;
      }

      td {
        padding: rem(2px) 0;
      }
    }
  }

  @media print {
    &__header {
      margin: rem(8px) 0;
    }
  }
}

.item {
  position: relative;
  margin: rem(10px) 0;

  &.hidden {
    display: none;

    .show-all & {
      display: block;
    }
  }

  &__title {
    font-weight: 600;
    color: $dark-gray;
    display: inline;
  }

  &__subtitle {
    font-style: italic;
    margin-bottom: rem(2px);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      margin: 0.2em 0;
      padding: 0;
      color: $darker-gray;
      line-height: 1.3em;

      &::before {
        display: block;
        position: absolute;
        right: 100%;
        padding: 0 rem(8px);
        content: '•';
      }
    }
  }

  .info {
    color: $gray;
  }

  @media print {
    margin: rem(8px) 0;
  }
}
