extends /shared/main.pug

block title
  | CSCI711 – Checkpoint 6

block content
  h1.content-header Checkpoint 6
  .contentbox
    h3 Primary Goal – Refraction
    img(src='/img/courses/cs711/cp6_primary.png', width='375')
