extends /common/templates/shared/main.pug

block vars
  - title = "CSCI711 – Checkpoint 6"

block content
  h1.content-header Checkpoint 6
  .contentbox
    h3 Primary Goal – Refraction
    img(src='./cp6_primary.png', width='375')
