extends /common/templates/shared/main.pug

block vars
  - title = "Minigames"

block scripts
  script(src="minigames.js" type="module" defer)
append styles
  link(href="minigames.scss" rel="stylesheet")

block content
  .contentbox
    h2 Minigames
    .minigame-container
      #minigame-toggle
      #minigame-snake
