extends /shared/main.pug

block title
  | Minigames

block scripts
  include /components/polyfill.pug
  script(src="/js/standalone/minigames.js" type="text/javascript" defer)
append styles
  link(href="/css/standalone/minigames.css" rel="stylesheet")

block content
  h1 Minigames
  .contentbox
    .minigame-container
      #minigame-toggle
      #minigame-snake
    p More to come!
