extends /shared/main.pug

block vars
  - title = "Minigames"

block scripts
  include /components/polyfill.pug
  script(src="/js/standalone/minigames.js" type="text/javascript" defer)
append styles
  link(href="/css/standalone/minigames.css" rel="stylesheet")

block content
  .contentbox
    h2 Minigames
    .minigame-container
      #minigame-toggle
      #minigame-snake
    p More to come!
