@import '~/src/common/css/base/variables';
@import '~/src/common/css/base/mixins';
@import '~/src/common/css/vendor/fontawesome/fontawesome';
@import '~/src/common/css/vendor/fontawesome/rotated-flipped';
@import '~/src/common/css/vendor/fontawesome/solid';

@include fa-mouse-pointer;
@include fa-hand-rock;
@include fa-save;
@include fa-folder-open;
@include fa-search-plus;
@include fa-search-minus;
@include fa-times;
@include fa-save;
@include fa-folder-open;
@include fa-question-circle;
@include fa-check-double;
@include fa-undo;
@include fa-trash;
@include fa-expand;
@include fa-bug;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  color: $darker-gray;
  font-family: Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0 0 rem(5px) rgba(0, 0, 0, 0.3);
  background-color: #fafafa;
  z-index: 100;
  overflow-x: auto;
  overflow-y: hidden;

  .logo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 rem(10px);
    white-space: nowrap;
    box-sizing: border-box;
    background-color: white;
    border-right: 1px solid #cccccc;

    svg {
      height: rem(25px);
      width: rem(80px); // IE fix
    }

    small {
      font-size: rem(9px);
      line-height: 1;
      padding-top: rem(5px);
      color: $gray;
    }
  }
}

.actionbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;

  &__section {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    padding: 0 rem(4px) 0 rem(7px);
    border-right: 1px solid #eeeeee;
    min-height: rem(80px);
    max-height: rem(80px);
    overflow-y: auto;

    &.hide {
      display: none;
    }

    &__header {
      font-size: rem(10px);
      margin: rem(5px) 0 rem(3px);
      margin-left: 0;
      line-height: 1;
      font-weight: bold;
      letter-spacing: 0.03em;
      color: $gray;
      text-transform: uppercase;
    }

    &__content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      flex-grow: 1;

      .column {
        display: flex;
        flex-flow: column wrap;
      }
    }

    &__group {
      padding: 0 rem(4px) 0 rem(7px);
      border-right: 1px solid #eeeeee;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border: none;
      }

      &--normal {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        max-width: rem(234px);
      }

      &--columns {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }
    }
  }
}

.action-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: rem(30px);
  height: rem(30px);
  color: $dark-gray;
  background-color: white;
  font-size: rem(14px);
  line-height: 1;
  text-align: center;
  padding: rem(2px);
  border: 1px solid #CCCCCC;
  border-radius: rem(3px);
  margin: 0 rem(3px) rem(3px) 0;
  cursor: pointer;

  canvas {
    width: 100%;
    height: 100%;
  }

  &--small {
    width: rem(22px);
    height: rem(22px);
  }

  &.selected {
    background-color: #F0F8FF;
    color: #4080FF;
    border-color: #4080FF;
    padding: rem(1px);
    border-width: 2px;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    background: none;
    cursor: disabled;
  }
}

.infobar {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  padding: rem(8px);
  font-size: rem(14px);
  line-height: 1;
  min-height: rem(30px);
  box-sizing: border-box;
  border-top: 1px solid #eeeeee;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #f8f8f8;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.canvas {
  flex-grow: 1;
  position: relative;
  overflow: hidden;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.modal {
  position: relative;
  width: rem(600px);
  max-height: rem(600px);
  max-width: 100%;
  background-color: white;
  border-radius: rem(10px);
  box-shadow: 0 0 rem(4px) rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  &-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(10px);
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;

    &.show {
      display: flex;
    }
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    padding: rem(10px) rem(15px);
    flex-shrink: 0;

    &__title {
      font-size: rem(24px);
    }

    &__close-btn {
      cursor: pointer;
      font-size: rem(20px);
      color: #F04020;
      padding: rem(2px) rem(5px) 0;
    }
  }

  &__content {
    padding: rem(10px) rem(20px);
    overflow-y: auto;
    flex-shrink: 1;

    p {
      margin: rem(15px) 0;

      &:first-child {
        margin-top: rem(5px);
      }

      &:last-child {
        margin-bottom: rem(5px);
      }
    }

    textarea {
      box-sizing: border-box;
      width: 100%;
      min-height: rem(100px);
      resize: none;
      background-color: #fafafa;
      border: 1px solid #CCCCCC;
    }
  }

  &__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-top: 1px solid #eeeeee;
    padding: rem(10px);
    flex-shrink: 0;

    &__button {
      padding: rem(5px) rem(15px);
      cursor: pointer;
      margin-right: rem(30px);
      background-color: white;
      border-radius: rem(5px);
      border: 1px solid #CCC;
      min-width: rem(60px);
      text-align: center;

      &--confirm {
        background-color: #40B060;
        color: white;
      }

      &--error {
        background-color: #D04020;
        color: white;
      }

      &--info {
        background-color: #2040C0;
        color: white;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}