include /components/gtm.pug

doctype html

html
  head
    title Circuits
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    +gtmScript
    link(href="/css/standalone/circuits.css" rel="stylesheet")
    script(src="/js/standalone/circuits.js" type="text/javascript" defer)

  body
    +gtmNoscript
    .header-container
      .header
        .logo Logo Here
        .toolbar#toolbar
      .infobar#infobar
    .content
      .canvas
        canvas#canvas