{% extends "layout.njk" %}
{% block title %}Neural Net{% endblock %}

{% block resources %}
<link href="neuralnet.css" rel="stylesheet" />
<script type="text/javascript" src="neural.js"></script>
<script type="text/javascript" src="flappy.js"></script>
<script type="text/javascript" src="fit2d.js"></script>
<script type="text/javascript" src="shooter.js"></script>
<script type="text/javascript" src="neuralnet.js"></script>
<script type="text/javascript" src="../webgl.js"></script>
<script type="text/javascript" src="../util.js"></script>
{% endblock %}

{% block content %}
    <div class="contentbox">
        <h2>Neural Network</h2>
        <canvas id="draw-canvas" width="500" height="500"></canvas>

        <div id="controls">
            <div class="control">
                <button id="pause">Pause</button>
            </div>
            <div class="control">
                <button id="evolve">Evolve</button>
            </div>
            <div class="control">
                <button id="reset">Reset</button>
            </div>
            <div>Generation: <span id='generation'></span></div>
            <div>Best: <span id='bestfit'></span></div>
            <div>Diversity: <span id='diversity'></span></div>
            <canvas id="net-canvas" width="300" height="300"></canvas>
        </div>
    </div>
    <div id="info" class="contentbox">Neural Network</div>
{% endblock %}
