extends /shared/main.pug

block vars
  - title = "CSCI711 – Checkpoint 5"

block content
  h1.content-header Checkpoint 5
  .contentbox
    h3 Primary Goal – Direct Reflection
    img(src='/img/courses/cs711/cp5_primary.png', width='375')
  .contentbox
    h3 Bonus – Phong-based, multiple reflection vectors
    img(src='/img/courses/cs711/cp5_bonus2.png', width='375')
