{% extends "layout.njk" %}
{% block resources %}
<script type="text/javascript" src="../base.css"></script>
<script type="text/javascript" src="../util.min.js"></script>
{% endblock %}

{% block content %}
    <div id="contentbox">
        <h2>{% block title %}{% endblock %}</h2>
        <div id="display">
            {% block display %}{% endblock %}
        </div>

        <div id="controls">
            {% block controls %}{% endblock %}
        </div>
    </div>

    <div id="info">
        {% block info %}{% endblock %}
    </div>
{% endblock %}