extends /shared/main.pug

include /components/project-header.pug

block vars
  - title = "Javascript Experiments"

block content
  .contentbox
    h1 Javascript Experiments
    +project-header('spirograph', '/img/tiles/spirograph_lg.png', 'Spirograph')
      div A simulation of the classic "Spirograph" toy.
    +project-header('graphs', '/img/tiles/graphs_lg.png', 'Graphs')
      div A unique creation of my own.
    +project-header('particles', '/img/tiles/particles_lg.png', 'Particles')
      div A 2D particle interaction simulation.
    +project-header('painter', '/img/tiles/painter_lg.png', 'Painter')
      div An algorithmic "painting" program. Great for generating wallpapers.
    +project-header('bubbles', '/img/tiles/bubbles_lg.png', 'Bubbles')
      div A simple program that generates images filled with "bubbles". Also great for wallpapers.
    +project-header('minigames', '/img/tiles/minigames_lg.png', 'Minigames')
      div A handful of simple games, just for fun.

