footer.footer
    .footer__links
      a(href="#" title="E-mail" class="fa fa-envelope-square")&attributes(obfuscate({href: "mailto:me@kylecutler.com"}))
      a(href="#" title="GitHub" target="kc_social_github" class="fa fa-github-square")&attributes(obfuscate({href: "http://github.com/kyle1320" }))
      a(href="#" title="LinkedIn" target="kc_social_linkedin" class="fa fa-linkedin-square")&attributes(obfuscate({href: "https://www.linkedin.com/in/kyle-cutler-30aa40112/"}))
    small Copyright © Kyle Cutler 2018