footer.footer
    .footer__links
      a(href="#" title="E-mail" class="fa fa-sm fa-envelope")&attributes(obfuscate({href: "mailto:me@kylecutler.com"}))
      a(href="#" title="GitHub" target="kc_social_github" class="fab fa-github-alt")&attributes(obfuscate({href: "http://github.com/kyle1320" }))
      a(href="#" title="LinkedIn" target="kc_social_linkedin" class="fab fa-linkedin-in")&attributes(obfuscate({href: "https://www.linkedin.com/in/kyle-cutler-30aa40112/"}))
    small Copyright © Kyle Cutler 2018