include /components/images.pug

mixin menu-item(name, href)
  li.dropdown
    if href
      a(href=href)= name
    else
      span= name
    if block
      ul.submenu
        block

header.header
  .container
    a.header__title(href="/")
      +img-hi-res("/img/kyle_circle-sm.png")(alt="A photo of me")
      | Kyle Cutler
    ul.header__menu
      +menu-item('Home', '/')
      +menu-item('Résumé', '/resume')
    //-   +menu-item('Apps')
    //-     +menu-item('Time Tracker', '/timetracker')
    //-     +menu-item('Circuits', '/circuits')
    //-   //- +menu-item('Courses')
    //-   //-   +menu-item('Global Illumination', '/courses/cs711')
    //-   +menu-item('Experiments')
    //-     +menu-item('Spirograph', '/experiments/spirograph')
    //-     +menu-item('Particles', '/experiments/particles')
    //-     +menu-item('Painter', '/experiments/painter')
    //-     +menu-item('Bubbles', '/experiments/bubbles')
    //-     +menu-item('Graphs', '/experiments/graphs')
    //-     +menu-item('Minigames', '/experiments/minigames')