mixin menu-item(name, href)
  li.dropdown
    a(href=href)= name
    if block
      ul.submenu
        block

header.header
  .container
    a.header__title(href="/")
      img(src="/img/kyle_circle.png" alt="A picture of me")
      | My Projects
    ul.header__menu
      +menu-item('JavaScript', '#')
        +menu-item('Spirograph', '/projects/js/spirograph')
        +menu-item('Graphs', '/projects/js/graphs')
        +menu-item('Particles', '/projects/js/particles')
        +menu-item('Painter', '/projects/js/painter')
        +menu-item('Bubbles', '/projects/js/bubbles')
      +menu-item('Courses', '#')
        +menu-item('Global Illumination', '/courses/cs711')
      +menu-item('Apps', '#')
        +menu-item('Time Tracker', '/timetracker')
      +menu-item('Résumé', '/resume')