mixin menu-item(name, href)
  li.dropdown
    a(href=href)= name
    if block
      ul.submenu
        block

header.header
  .container
    a.header__title(href="/")
      img(src="/img/kyle_circle-sm.png" alt="A picture of me")
      | My Projects
    ul.header__menu
      +menu-item('Apps', '#')
        +menu-item('Time Tracker', '/timetracker')
      +menu-item('Courses', '#')
        +menu-item('Global Illumination', '/courses/cs711')
      +menu-item('Experiments', '#')
        +menu-item('Spirograph', '/experiments/spirograph')
        +menu-item('Particles', '/experiments/particles')
        +menu-item('Painter', '/experiments/painter')
        +menu-item('Bubbles', '/experiments/bubbles')
        +menu-item('Graphs', '/experiments/graphs')
      +menu-item('Résumé', '/resume')