include /components/gtm.pug

doctype html

- title = ""
- description = "Kyle Cutler's Personal Website – Coding Experiments, Games, Web Apps, and More"
block vars

html(lang="en")
    head
        title
            if title
                | #{title} – Kyle Cutler
            else
                | Kyle Cutler
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        meta(name="description" content=description)
        meta(name="theme-color" content="#00897B")
        +gtmScript
        block styles
            link(href="/css/main.css" rel="stylesheet")
        block scripts
            include /components/polyfill.pug
            script(src="/js/site.js" type="text/javascript" defer)

    body
        +gtmNoscript
        include header.pug
        .content.container
            block content
        include footer.pug
        block lazy-scripts
