include /components/gtm.pug

doctype html

- title = ""
- description = "Kyle Cutler's Personal Website – Coding Experiments, Games, Web Apps, and More"
block vars

html(lang="en")
    head
        title
            if title
                | #{title} – Kyle Cutler
            else
                | Kyle Cutler
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        meta(name="description" content=description)

        //- favicon / PWA
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
        meta(name="msapplication-TileColor" content="#00aba9")
        meta(name="theme-color" content="#00897B")

        +gtmScript
        block styles
            link(href="/css/main.css" rel="stylesheet")
        block scripts
            include /components/polyfill.pug
            script(src="/js/site.js" type="text/javascript" defer)

    body
        +gtmNoscript
        include header.pug
        .content.container
            block content
        include footer.pug
        block lazy-scripts
