include /components/gtm.pug

doctype html

html
    head
        title
            block title
            |  – Kyle Cutler
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        +gtmScript
        block styles
            link(href="/css/main.css" rel="stylesheet")
        block scripts
            script(src="/js/site.js" type="text/javascript" defer)

    body
        +gtmNoscript
        include header.pug
        .content.container
            block content
        include footer.pug
        block lazy-scripts
