include /components/analytics.pug

doctype html

html
    head
        title
            block title
            |  – Kyle Cutler
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(href="https://fonts.googleapis.com/css?family=PT+Serif|Source+Sans+Pro:400,600" rel="stylesheet")
        link(href="/css/main.css" rel="stylesheet")
        link(href="/css/font-awesome.css" rel="stylesheet")
        script(src="/js/site.js" type="text/javascript" async)
        block scripts

    body
        include header.pug
        .content.container
            block content
        include footer.pug
        +analytics
        block lazy-scripts
