extends /shared/main.pug

include /components/controls.pug

block title
  | Experiment: Spirograph

append scripts
  script(type="text/javascript" src="spiro.js")
  script(type="text/javascript" src="../util.js")

block content
  .contentbox
    h2 Experiment: Spirograph
    #canvases.canvas-container
      canvas#spiro-canvas(width='500', height='500')
      canvas#info-canvas(width='500', height='500')
    +controls
      tr
        td
        td
          img#save-img(width='50', height='50')
      +control('Controls')
        +control-point-button()(id='pause-btn') Pause
        +control-point-button()(id='reset-btn') Reset
        +control-point-button()(id='save-btn') Save
      +control('Speed')
        +control-point('rad / sec', true)(id='speed-input', type='number', min='0.0', step='any')
      +control('Iterations')
        +control-point()(id='iter-input', type='number', min='0', step='1')
      +control('Pen Distance')
        +control-point()(id='pendist-input', type='number', min='-2', max='2', step='0.1')
      +control('Show / Hide')
        +control-point('Circles', true)(id='show-circles', type='checkbox')
        +control-point('Radii', true)(id='show-radii', type='checkbox')
        +control-point('Pen', true)(id='show-pen', type='checkbox')
        +control-point('Color', true)(id='use-color', type='checkbox')
    #circles(style='padding: 0 10px; float: left; width: auto;')
  #info
    .contentbox
      p space to play / pause
      p enter to reset
      p + / - change the number of iterations
      p left / right arrows change the speed
      p NOTE: things get more interesting at high speeds ;)
    .contentbox
      h2 About Spirograph:
      div
        | This is a highly customizable emulator of the classic "Spirograph" toy.
        | It is possible to have many nested "gears" of different sizes, each rotating at different speeds, and a pen at some point along the innermost circle tracing a path on the canvas.
        | What follows is a description of each feature or option, and what it does:
        ul
          li
            h3 Speed
            p This value represents a global multiplier by which the speed of every circle is multiplied.
            p The higher this value, the faster the spirograph will move.
            p At high speeds, interesting things start to happen.
            p The precision of the spirograph begins to degrade, and the lines drawn between sample points start to become more visible.
            p Increasing the speed even further can create interesting visual effects, so I encourage you to give it a try.
          li
            h3 Iterations
            p The number of sample points calculated along the Spirograph every frame.
            p Spirograph calculates a new frame roughly every 15 milliseconds.
            p If only a single point along the spirograph was calculated each frame, the precision would degrade quickly, even at low speeds.
            p So we take multiple samples (iterations) per frame.
            p Increasing this value means that you can get a more accurate Spirograph even at high speeds, at the cost of extra computing power.
          li
            h3 Pen Distance
            p How far along the innermost circle's radius the pen lies.
            p Each frame, lines are drawn between calculated points along the Spirograph.
            p These lines follow the pen, which is connected to the center-most circle.
            p Note that the pen distance may lie outside of the circle. This can lead to some interesting effects.
          li
            h3 Color
            p When drawing with color, the angle of the innermost circle is used to determine the hue.
          li
            h3 Circles
            p Spirograph keeps track of a list of nested circles, which rotate as if they were gears spinning along the inside of the gear above it.
            p Each circle has a radius and a speed.
            p A circle's speed is a measure of how far along the inside of the parent circle it rotates each second.
            p So a circle with speed 3.14 would complete one half revolution around its parent each second.
            p Speeds may be negative, in which case the circle will simply rotate in the opposite direction.
            p A circle's radius should have absolute value between 0 and 1.
            p Higher values are acceptable, but will not fit inside of the canvas.
            p A circle's radius may be negative, in which case the circle will rotate along the opposite side of its parent circle.

