extends /shared/main.pug

block title
  | 404 Page Not Found

block scripts
  include /components/polyfill.pug
  script(src="/js/standalone/minigames.js" type="text/javascript" defer)
append styles
  link(href="/css/standalone/minigames.css" rel="stylesheet")

block content
  .contentbox
    h1.error 404 – Page Not Found
    h2 Whoops!
    p It looks like this page doesn't exist. It may have been moved.
    p You can go back to the #[a(href="/") Home Page] where it's safe, or just hang out here if you like. Here are some minigames to keep you busy:
    .minigame-container
      #minigame-toggle
      #minigame-snake
