extends /shared/main.pug

include /components/images.pug

mixin tile(title, href, img, desc)
  a.tile(href=href)&attributes(attributes)
    .tile__image
      +img-hi-res(img)(alt=title)
    .info
      .info__title= title
      if desc
        .info__desc= desc

block vars
  - title = "Home"

block content
  .contentbox
    h2 Welcome!
    p My name is Kyle Cutler; I'm a software engineer at Microsoft.
    p I love to create visual programs such as fractal generators, simulations, games, and anything else I come up with.
    p
      | My other hobbies include hiking, cooking, and playing
      a(href="https://en.wikipedia.org/wiki/Go_(game)" target="_blank" rel="noopener")  Go.
    p
      | If you want to contact me, the best way is by
      a(href="#")&attributes(obfuscate({href: "mailto:me@kylecutler.com"}))  Email
      | . You can also find links to my GitHub and LinkedIn at the bottom of the page. Or, if you're interested, you can check out my
      a(href="/resume")  Résumé.
  
  .contentbox 
    h2 Web Projects 
    p Below you can find links to some of my personal web projects. Some of these are very old, so I have tried to order them with the more recent projects first.

  .tiles
    +tile("Kyle's Uno",
          "https://uno.kyles.games/",
          "/img/tiles/uno_xl.png",
          "A recreation of the classic card game that you can play online with friends!")(class="tile--lg" target="_blank")
    +tile("Time Tracker",
          "/timetracker/",
          "/img/tiles/timetracker_xl.png",
          "Track time spent on various tasks at work")(class="tile--lg")
    +tile("Circuits",
          "/circuits/",
          "/img/tiles/circuits_xl.png",
          "Design and test boolean logic circuits")(class="tile--lg")
    +tile("Résumé",
          "/resume/",
          "/img/tiles/resume_lg.png")(class="tile")
    +tile("Minigames",
          "/experiments/minigames/",
          "/img/tiles/minigames_lg.png")(class="tile")
    +tile("Painter",
          "/experiments/painter/",
          "/img/tiles/painter_lg.png")(class="tile")
    +tile("Spirograph",
          "/experiments/spirograph/",
          "/img/tiles/spirograph_lg.png")(class="tile")
    +tile("Bubbles",
          "/experiments/bubbles/",
          "/img/tiles/bubbles_lg.png")(class="tile")
    +tile("Particles",
          "/experiments/particles/",
          "/img/tiles/particles_lg.png")(class="tile")
    +tile("Graphs",
          "/experiments/graphs/",
          "/img/tiles/graphs_lg.png")(class="tile")