extends /shared/main.pug

block title
  | Home

block content
  .contentbox
    h2 Welcome!
    p This website is a place for me to showcase some of my programming projects. Currently, it mostly consists of JavaScript applets. In the future I may add other types of projects or blog posts.
    p This site is very much a work in progress, so check back often!
  .tiles
    a.tile.tile--a-lg(href="/timetracker/")
      .tile__image
        img(src="/img/tiles/timetracker_xl.png")
      .info
        .info__title Time Tracker
        .info__desc Track time spent on various tasks at work
    a.tile.tile--b(href="/experiments/painter/")
      .tile__image
        img(src="/img/tiles/painter_lg.png")
      .info
        .info__title Painter
    a.tile.tile--c(href="/experiments/spirograph/")
      .tile__image
        img(src="/img/tiles/spirograph_lg.png")
      .info
        .info__title Spirograph
    a.tile.tile--d(href="/experiments/minigames/")
      .tile__image
        img(src="/img/tiles/minigames_lg.png")
      .info
        .info__title Minigames
    a.tile.tile--e(href="/resume/")
      .tile__image
        img(src="/img/tiles/resume_lg.png")
      .info
        .info__title Résumé
    a.tile.tile--f-lg(href="/circuits/")
      .tile__image
        img(src="/img/tiles/circuits_xl.png")
      .info
        .info__title Circuits
        .info__desc Design and test boolean logic circuits
    a.tile.tile--g(href="/experiments/bubbles/")
      .tile__image
        img(src="/img/tiles/bubbles_lg.png")
      .info
        .info__title Bubbles
    a.tile.tile--h(href="/experiments/particles/")
      .tile__image
        img(src="/img/tiles/particles_lg.png")
      .info
        .info__title Particles
    a.tile.tile--i(href="/experiments/graphs/")
      .tile__image
        img(src="/img/tiles/graphs_lg.png")
      .info
        .info__title Graphs
  .contentbox
    h2 A little about me...
    img(src="/img/kyle-sm.jpg" height="160px" style="float: left; padding: 5px 15px 5px 0;")
    p My name is Kyle Cutler; I'm a graduate Computer Science student at Rochester Institute of Technology.
    p I have been programming for about seven years, and I always love to learn more. At the moment, I consider myself most fluent in Javascript, Java, Python, and C, but I have experience with many other languages as well.
    p I love to create visual programs, such as fractal generators, simulations, games, and anything else I come up with. (check out some of <a href="/experiments">my JavaScript experiments!</a>)
    p
      | My other hobbies include playing
      a(href="https://en.wikipedia.org/wiki/Go_(game)" target="_blank")  Go
      | , attending hackathons, practicing guitar, and cooking.
    p
      | If you want to contact me, the best way is by
      a(href="#")&attributes(obfuscate({href: "mailto:me@kylecutler.com"}))  Email
      | . You can also find links to my GitHub and LinkedIn at the bottom of the page. Or, if you're interested, you can check out my
      a(href="/resume")  Résumé
      | !
    p Enjoy your visit!