extends /shared/main.pug

block title
  | Home

block content
  .tiles
    .tile.tile--a-lg
      img(src="/img/courses/cs711/acp1_bunny.png")
    .tile.tile--b
      img(src="/img/experiments/js-bubbles_lg.png")
    .tile.tile--c
      img(src="/img/experiments/js-bubbles_lg.png")
    .tile.tile--d
      img(src="/img/experiments/js-bubbles_lg.png")
    .tile.tile--e
      img(src="/img/experiments/js-bubbles_lg.png")
    .tile.tile--f-lg
      img(src="/img/courses/cs711/acp1_bunny.png")
    .tile.tile--g
      img(src="/img/experiments/js-bubbles_lg.png")
    .tile.tile--h
      img(src="/img/experiments/js-bubbles_lg.png")
    .tile.tile--i
      img(src="/img/experiments/js-bubbles_lg.png")
  .contentbox
    h2 Welcome!
    p This website is a place for me to put information about various projects I've worked on. This could be anything from screenshots and descriptions to working demos.
    p This site is very much a work in progress, so check back often!
  .contentbox
    h2 A little about me...
    img(src="/img/kyle-sm.jpg" height="160px" style="float: left; padding: 5px 15px 5px 0;")
    p My name is Kyle Cutler; I'm a graduate Computer Science student at Rochester Institute of Technology.
    p I have been programming for about seven years, and I always love to learn more. At the moment, I consider myself most fluent in Javascript, Java, Python, and C, but I have experience with many other languages as well.
    p I love to create visual programs, such as fractal generators, simulations, games, and anything else I come up with. (check out some of <a href="/experiments">my JavaScript experiments!</a>)
    p
      | My other hobbies include playing
      a(href="https://en.wikipedia.org/wiki/Go_(game)" target="_blank")  Go
      | , attending hackathons, practicing guitar, and cooking.
    p
      | If you want to contact me, the best way is by
      a(href="#")&attributes(obfuscate({href: "mailto:me@kylecutler.com"}))  Email
      | . You can also find links to my GitHub and LinkedIn at the bottom of the page. Or, if you're interested, you can check out my
      a(href="/resume")  Résumé
      | !
    p Enjoy your visit!