extends /shared/main.pug

block title
  | CSCI711 – Checkpoint 4

block content
  h1.content-header Checkpoint 4
  .contentbox
    h3 Primary Goal – Procedural Checkerboard
    img(src='/img/courses/cs711/cp4_primary.png', width='375')
  .contentbox
    h3 Bonus – Alternate Procedural Texture
    img(src='/img/courses/cs711/cp4_bonus1.png', width='375')
  .contentbox
    h3 Bonus – Checkerboard with Noise
    img(src='/img/courses/cs711/cp4_bonus2.png', width='375')
