extends /common/templates/shared/main.pug

include /common/templates/components/controls.pug

block vars
  - title = "Experiment: Graphs"

append scripts
  script(type="module" src="graphs.js")

block content
  .contentbox
    h2 Experiment: Graphs
    #canvases.canvas-container
      canvas#gl-canvas(width='500', height='500')
      canvas#draw-canvas(width='500', height='500')
    +controls
      +control('Show / Hide')
        +control-point('Nodes', true)(id="shownodes", type="checkbox")
        +control-point('Edges', true)(id="showedges", type="checkbox")
        +control-point('Edge Distances', true)(id="edgedists", type="checkbox")
      +control('Continuous updates')
        +control-point()(id='updates', type='checkbox')
      +control('Sensitivity')
        +control-point()(id='sensitivityinput', type='number', step='1')
  .contentbox
    | Click & drag a node to move it
    br
    | Press 'q' / delete / backspace over a node or edge to delete it
    br
    | Ctrl + click adds a new node
    br
    | Ctrl + drag adds a new edge

