$primary-lighter:  #B2DFDB;
$primary-light:    #4DB6AC;
$primary:          #009688;
$primary-dark:     #00897B;
$primary-darker:   #004D40;
$primary-accent:   #00BFA5;

$secondary-lighter: #EFEBE9;
$secondary-light:   #B3A098;
$secondary:         #795548;

$error: #f44336;

$off-white: #fafafa;

$gray:        #888888;
$dark-gray:   #333;
$darker-gray: #212121;

$small: 600px;
$medium: 768px;

$Source-Sans-Pro: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$PT-Serif: 'PT Serif', 'Times New Roman', Times, serif;

$fa-font-path: "~/src/common/assets/fonts";