body {
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#year {
  font-size: 35vw;
  font-weight: bold;
  filter: blur(2vw);
  transition: filter 3s;

  &.y2020 {
    filter: blur(0);
  }
}

#time {
  opacity: 0.5;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  padding: 5px;
}