{% extends "layout.njk" %}
{% block title %}Bubbles{% endblock %}

{% block resources %}
<script src="/js/jscolor.min.js" type="text/javascript"></script>

<link href="bubbles.css" rel="stylesheet">
<script type="text/javascript" src="bubbles.min.js"></script>
<script type="text/javascript" src="../util.min.js"></script>
{% endblock %}

{% block content %}
    <div class="contentbox">
        <h2>Bubbles</h2>
        <div id="canvases">
            <canvas id="draw-canvas" width="500" height="500"></canvas>
            <table class="aligned" style="clear: both;">
                <tr>
                    <td>Status: </td>
                    <td id="status"></td>
                </tr>
                <tr>
                    <td>Points: </td>
                    <td id="points"></td>
                </tr>
                <tr>
                    <td>Layer: </td>
                    <td id="level"></td>
                </tr>
                <tr>
                    <td>Progress: </td>
                    <td id="progress"></td>
                </tr>
            </table>
        </div>

        <div id="controls" class="column">
            <div class="control" title="Pauses / resumes cell generation">
                <button id="pause">Pause</button>
            </div>
            <div class="control" title="Resets and clears the image">
                <button id="reset">Reset</button>
            </div>
            <div class="control" title="Copies the canvas so that the image can be saved locally">
                <button id="save-btn">Save</button><br>
                <img id="save-img" width="50" height="50" />
            </div>

        </div>
        <div class="column">
            <table class="aligned">
                <tr class="control" title="The width of the image, in pixels">
                    <td>Image Width: </td>
                    <td><input id="width" type="number" min="0" step="10"></td>
                </tr>
                <tr class="control" title="The height of the image, in pixels">
                    <td>Image Height: </td>
                    <td><input id="height" type="number" min="0" step="10"></td>
                </tr>
                <tr class="control" title="The number of points to test in each iteration">
                    <td>Random Samples: </td>
                    <td><input id="samples" type="number" min="0" step="1"></td>
                </tr>
                <tr class="control" title="The minimum distance between cell edges">
                    <td>Padding: </td>
                    <td><input id="padding" type="number" min="0" step="1"></td>
                </tr>
                <tr class="control" title="The minimum size of a cell">
                    <td>Min Radius: </td>
                    <td><input id="min-rad" type="number" min="0" step="1"></td>
                </tr>
                <tr class="control" title="The maximum size of a cell">
                    <td>Max Radius: </td>
                    <td><input id="max-rad" type="number" min="0" step="1"></td>
                </tr>
                <tr class="control" title="The maximum number of layers to generate in the image">
                    <td>Max Layers: </td>
                    <td><input id="max-level" type="number" min="-1" step="1"> (-1 for infinite)</td>
                </tr>
                <tr class="control" title='The color of empty space in the image'>
                    <td>Background Color: </td>
                    <td><input id="bg-color" class="jscolor {required:false}"> (empty for clear)</td>
                </tr>
                <tr class="control" title="The pattern to follow when coloring cells">
                    <td>Pattern:</td>
                    <td>
                        <select id="pattern">
                            <option value="alternate" selected="selected">Alternate</option>
                            <option value="rainbow">Rainbow</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- <div id="info" class="contentbox">Bubbles</div> -->
{% endblock %}