extends /shared/main.pug

block vars
  - title = "CSCI711 – Project - Selected GIFs"

block content
  h1.content-header Selected GIFs from the Project
  .contentbox
    img(src='/img/courses/cs711/project/prism3.gif', width='300')
    br
    img(src='/img/courses/cs711/project/sphere6.gif', width='300')
    br
    img(src='/img/courses/cs711/project/sphere7.gif', width='300')
    br
    img(src='/img/courses/cs711/project/bunny2.gif', width='300')
    br
    img(src='/img/courses/cs711/project/spheres2.gif', width='300')
