@import '../base/_variables';
@import '../base/mixins';
@import '../vendor/fontawesome/fontawesome';
@import '../vendor/fontawesome/solid';

@include fa-mouse-pointer;
@include fa-hand-rock;
@include fa-plus;
@include fa-info;
@include fa-save;
@include fa-folder-open;
@include fa-search-plus;
@include fa-search-minus;

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
}

.header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;

  &-container {
    box-shadow: 0 0 rem(5px) rgba(0, 0, 0, 0.3);
    z-index: 100;
  }

  .logo {
    font-size: rem(20px);
    margin: auto 0;
    padding: 0 rem(40px);
    box-sizing: border-box;
  }
}

.toolbar {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  height: rem(45px);
  overflow-x: auto;
  overflow-y: hidden;

  .tool {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(45px);
    height: rem(35px);
    font-size: rem(16px);
    padding: rem(5px) rem(10px);
    cursor: pointer;
    border-left: 1px solid #eeeeee;

    &::before {
      padding: 2px;
      border-bottom: 2px solid transparent;
    }

    &.selected {
      background-color: #eeeeee;
      color: #4080FF;

      &::before {
        border-color: currentColor;
      }
    }
  }
}

.infobar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  height: rem(45px);
  max-height: rem(45px);
  border-top: 1px solid #eeeeee;
  overflow-x: auto;
  overflow-y: hidden;

  .circuit {
    font-size: rem(15px);
    line-height: 1;
    padding: rem(15px);
    cursor: pointer;

    &:hover {
      background-color: #f8f8f8;
    }

    &.selected {
      background-color: #eeeeee;
      text-decoration: underline;
    }
  }
}

.content {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;

  .canvas {
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}