@import '../base/_variables';
@import '../base/_mixins';

@import '../vendor/fontawesome/fontawesome';
@import '../vendor/fontawesome/solid';

@import 'minigame-toggle';

.minigame-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: rem(40px) 0 rem(20px);
}