@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway.ttf');
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PT_Serif.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Semibold.ttf');
  font-weight: 600;
}